/*
*
* @author
* @version 0.1
*/

/* == LAYOUT == */

body
{
	background: url('../img/bg.png') repeat;
	background-size: 100% 1086vh;
	font-family: "Courier Std", Courier, monospace;
	color: #4f0029;
	font-size: 15px;
}

/* = Barra de navegação = */

/* Imagem de Fundo */
.navbar-fundo
{
	border: none;
	padding: 15px 5px 40px 5px;
	background: url('../img/top_menu.png') no-repeat;
	background-size: 1366px 1340%;
	background-color: transparent;
}
/* Logo Carta */
.img-logo
{
	height: 60px;
	width: 60px;
	display: block;
	background: url('../img/favicon.png') no-repeat; 
	background-size: contain;
	color: transparent;
}
/* Padding da logo */
.navbar-brand
{
	padding: 0px 5px 10px 30px;
}
/* Retira a borda da droplist qdo a navbar colapsa */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
/* Link da página atual */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	color: #852940;
	background: none;
	text-decoration: underline;
}
/* Cor dos links */
.navbar-default .navbar-nav>li>a {
	color: #852940;
}
/* Cor do hover do link */
.navbar-default .navbar-nav>li>a:hover {
	color: #ffa3c8;
}
/* Click do link */
.navbar-default .navbar-nav>li>a:active {
	color: #380012;
	text-decoration: underline;
}

/* == SEÇÕES == */

/* = Primeiro conteúdo = */
/* Distanciamento da navbar do primeiro conteudo: 
 * não da pra usar na body pq senão desce o background 
 */
#primeiro_conteudo
{
	padding: 135px 0 30px 0;
}
/* Imagem da home */
.img-home
{
	width: 360px;
	height: 260px;
	display: block;
	background: url('../img/logo_home.png') no-repeat;
	background-size: contain;
	color: transparent;
}
/* Distância do texto em dispositivos xs */
#img-xs
{
	padding-bottom: 10px;
}

/* Espaçamento relatos */


/* == FOOTER == */
footer
{
	padding: 50px 0 20px 0;
	text-align: center;
	font-size: 15px;
	color: #852940;
}
#marca-texto1
{
	background: url('../img/policia.png') no-repeat;
	background-size: contain;
	background-position: center;
}
#marca-texto2
{
	background: url('../img/central.png') no-repeat;
	background-size: contain;
	background-position: center;	
}
#marca-texto3
{
	background: url('../img/disk.png') no-repeat;
	background-size: contain;
	background-position: center;	
}
/* == TIPOGRAFIA == */
.justif
{
	text-align: justify;
}
.centralizado
{
	text-align: center;
}
.justif>a, .justif>p>a{
	color: #852940;
	text-decoration: underline;
}
.justif>a:hover, .justif>p>a:hover{
	color: #ffa3c8;
	text-decoration: none;
}
.justif>a:active, .justif>p>a:active{
	color: #380012;
	text-decoration: none;
}
#autor-relato
{
	display: inline-block;
	float: right;
}

/* == MEDIA QUERIES == */

/* xs < 768 */
@media screen and (max-width: 769px)
{
	body
	{
		background-size: 100% 898px;  /* 700px (largura media) / 5692 * 7304*/
	}
	#marca-texto1, #marca-texto2, #marca-texto3
	{
		padding-bottom: 15px;
	}
	.justif
	{
		font-size: 14px;
	}
	.relato
	{
		padding: 0vh 11vw 4vh 11vw;
	}
}

/* sm */
@media screen and (min-width: 770px)
{
	body
	{
		background-size: 100% 986px; /* 880px (largura media) / 5692 * 7304*/
	}
	.navbar-nav
	{
    	margin: 0 auto;
    	display: table;
    	table-layout: fixed;
    	float: none;
  	}

  	.font_nav
  	{
  		padding-right: 0.6vw;
  	}

  	.
}

@media screen and (min-width: 809px)
{
  	.font_nav
  	{
  		padding-right: 1.5vw;
  	}
}


/* md */
@media screen and (min-width: 992px)
{
	body
	{
		background-size: 100% 1273px; /* 1096px (largura media) / 5692 * 7304*/
	}	

	.font_nav
	{
		padding-left: 1vw;	
		padding-right: 3.8vw;
		font-size: 15px;
	}
}

/* lg */
@media screen and (min-width: 1200px)
{
	body
	{
		background-size: 100%;
	}

	.font_nav
	{
		padding-left: 2vw;
		padding-right: 5vw;
		font-size: 16px;
	}
}